In [2]:
lst = [1, 2, 3, 4]

In [3]:
iterator = iter(lst)

In [4]:
next(iterator)

1

In [5]:
next(iterator)

2

In [6]:
next(iterator)

3

In [7]:
next(iterator)

4

In [8]:
next(iterator)

StopIteration:

In [9]:
for i in lst :
    print(i)

1
2
3
4

In [10]:
iterator = iter(lst)

while True :
    try :
        print(next(iterator))
    except :                  # wir können hier "except stopiteration" schreiben. 
        break

1
2
3
4

In [11]:
set.__doc__

'set() -> new empty set object\nset(iterable) -> new set object\n\nBuild an unordered collection of unique elements.'

In [12]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [15]:
for i in {"a", 1, "b"} :         # her seferinde farkli bir sirayla verebilir. o yüzden setler tercih edilmez setleri kümeye dönüstürmek lazim
    print(i)

a
1
b

In [16]:
counter = 0
for i in {"a", 1, "b"} :       # bu satir aslinda bize döngünün kac sefer donecegini söylüyor.print burda verilen listeden/setten bagimsiz olabilir
    counter += 1
    print(counter)

1
2
3

In [17]:
counter = 0
while counter < len(lst) :
    degisken = lst[counter]    # while dongusu daha uzun oluyor for döngüsüne nazaran
    print(degisken)
    counter +=1

1
2
3
4

In [18]:
seasons = ["spring", "summer", "autumn", "winter"]
for season in seasons[1:3] :
    print(season)

summer
autumn

In [19]:
liste = [10, 15]
for i in range(liste[0], liste[1]) :
    print(i)

10
11
12
13
14

In [21]:
liste = [10, 20]
for i in range(liste[0], liste[1]+1, 2) :
    print(i)

10
12
14
16
18
20

In [23]:
#"hello Samuel"
#"hello Victor"

names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabriel"]
for i in names :
    print("hello", i)

hello Ahmed
hello Aisha
hello Adam
hello Joseph
hello Gabriel

In [24]:
liste= []
for i in range (1,6):
    liste.append(i)
    print(liste)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

# the most common iterable types:
str
list
tuple
dict
set

In [26]:
for i in "clarusway" :
    print(i, end="+")

c+l+a+r+u+s+w+a+y+

In [27]:
counter = 0
for i in "clarusway" :
    counter += 1
    if counter< len("clarusway"):
        i += "-"
    print(i, end= "")

c-l-a-r-u-s-w-a-y

In [1]:
counter = 0
kelime = ""
for i in "clarusway" :
    counter += 1
    if counter< len("clarusway"):
        kelime = kelime + i + "-"
    else :
        kelime += i
print(kelime)

c-l-a-r-u-s-w-a-y

In [2]:
for i in range(1,11) :
    print(i, end= " ")

1 2 3 4 5 6 7 8 9 10

In [3]:
range(11)

range(0, 11)

In [4]:
print(range(11))

range(0, 11)

In [5]:
print(*range(11))

0 1 2 3 4 5 6 7 8 9 10

In [6]:
type(range(11))

range

In [7]:
myrange = range(1,21,2)

In [9]:
myrange.count(9)

1

In [10]:
myrange.index(9)

4

In [14]:
myrange.index(10)

ValueError: 10 is not in range

In [11]:
myrange.start

1

In [12]:
myrange.stop

21

In [13]:
myrange.step

2

In [15]:
print(* "hello")

h e l l o

In [16]:
print(* "hello", sep="-")

h-e-l-l-o

In [17]:
print(* "clarusway", sep= "-")

c-l-a-r-u-s-w-a-y

In [18]:
user = {
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
}
for attribute in user : 
    print(attribute)

name
surname
age

In [19]:
user = {
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
}
for i in user.values() : 
    print(i, end= " ")

Daniel Smith 35

In [22]:
user = {
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
}
for key, value in user.items() : 
    print(key, ":", value)

name : Daniel
surname : Smith
age : 35

In [25]:
user = {
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
}
for i, j in user.items() : 
    print(i, ":", j)

name : Daniel
surname : Smith
age : 35

In [20]:
for i in [[1, 2],[3,4]] :
    print(i)

[1, 2]
[3, 4]

In [21]:
for i in [[1, 2],[3,4]] :
    for j in i:
        print(j)

1
2
3
4

In [23]:
for i,j in [[1, 2],[3,4]] :
    print(i,j)

1 2
3 4

In [24]:
for i,j in [1, 2],[3,4] :
    print(i, j)

1 2
3 4

In [26]:
for i, j in [(1,2),(3,4),(4,5)] :
    print(i,j)

1 2
3 4
4 5

OPERATIONS WITH FOR LOOP

In [27]:
times = int(input("How many times schould I say 'I love you' "))

for i in range(times):
    print('I love you')

I love you
I love you
I love you

In [29]:
number = int(input("enter a number between 1 to 9 : "))

for i in range(1,11):
    print(f"{number} x {i} = {number*i} ")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [30]:
number = int(input("enter a number between 1 to 9 : "))

for i in range(1,11):
    print("{} x {} = {}".format(number, i, number*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [31]:
number = int(input("enter a number between 1 to 9 : "))

for i in range(1,11):
    print("{} x {} =".format(number, i), number*i)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [32]:
print(* range(10,0,-2))

10 8 6 4 2

In [35]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text,numbers):
    print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [36]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]
print(zip(text,numbers))

<zip object at 0x00000162D64188C0>

In [37]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]
print(list(zip(text,numbers)))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [38]:
zip.__doc__

"zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.\n\n   >>> list(zip('abcdefg', range(3), range(4)))\n   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]\n\nThe zip object yields n-length tuples, where n is the number of iterables\npassed as positional arguments to zip().  The i-th element in every tuple\ncomes from the i-th iterable argument to zip().  This continues until the\nshortest argument is exhausted.\n\nIf strict is true and one of the arguments is exhausted before the others,\nraise a ValueError."

In [39]:
list(zip('abcdefg', [1, 2, 3], range(4)))

[('a', 1, 0), ('b', 2, 1), ('c', 3, 2)]

In [48]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]

zipped =zip(text, numbers)
zipped

In [43]:
print(* zipped)

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [44]:
list(zipped)

[]

In [46]:
list(zipped)        # havada duran ici dolu olan zip objesi * ile icini bosaltiliyor o yuzden tekrar zipped i calistirmamiz lazim
                    # havada duran zip objesini bi kere kullanma hakki var.tekrar kullanmak istedigimde tekrar calistirmam lazim

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [47]:
dict(zipped)

{}

In [49]:
dict(zipped)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [50]:
dict(zip(text,numbers))     # ya da burda oldugu gibi bastan zip fonksiyonunu yazacagz

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [51]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]

zipped =zip(text, numbers)
last_zipped= dict(zipped)
last_zipped

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [52]:
list(last_zipped)

['one', 'two', 'three', 'four', 'five']

In [75]:
total_sales = [52000.00, 51000.00, 48000.00]
prod_cost = [46800.00, 45900.00, 43200.00]    # üretim maliyeti
for sales , costs in total_sales, prod_cost:
    profit = sales - costs
    print(f"total_profit : " , profit)

ValueError: too many values to unpack (expected 2)

In [76]:
total_sales = [52000.00, 51000.00]
prod_cost = [46800.00, 45900.00] 
for sales , costs in total_sales, prod_cost:
    profit = sales - costs             # burda 52.000 den 51.000i cikartiyor
    print(f"total_profit : " , profit)

total_profit :  1000.0
total_profit :  900.0

In [74]:
total_sales = [52000.00, 51000.00, 48000.00]
prod_cost = [46800.00, 45900.00, 43200.00]    # üretim maliyeti
for sales , costs in zip(total_sales, prod_cost):
    profit = sales - costs
    print(f"total_profit : " , profit)

total_profit :  5200.0
total_profit :  5100.0
total_profit :  4800.0

In [59]:
evens =[]
odds = []

for i in range(11):
    if i%2 ==0 :
        evens.append(i)
    else:
        odds.append(i)
print("evens: ", evens)
print("odds: ", odds)

evens:  [0, 2, 4, 6, 8, 10]
odds:  [1, 3, 5, 7, 9]

In [58]:
numbers= [11, 2, 24, 61, 48, 33, 3]
odds= 0
evens = 0

for i in numbers :

    if i%2 :
        odds+= 1
    else :
        evens += 1

print("evens count : ", evens)
print("odds count : ", odds)

evens count :  3
odds count :  4

In [57]:
evens =[]
odds = []

for i in range(11):
    if i%2 ==0 :
        evens.append(i)
    else:
        odds.append(i)
print("evens: ", evens)
print("odds: ", odds)
print("evens count: ", len(evens))
print("odds count: ", len(odds))

evens:  [0, 2, 4, 6, 8, 10]
odds:  [1, 3, 5, 7, 9]
evens count:  6
odds count:  5

In [60]:
number = int(input("enter a number 1 to 9 : "))

for i in range(1, number+1): 
    print(* i*str(i))

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [61]:
number = int(input("enter a number 1 to 9 : "))

for i in range(1, number+1): 
    print((str(i)+ " ")*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [62]:
for i in range(1,int(input("enter a number 1 to 9 : "))+1): 
    print((str(i)+ " ")*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [63]:
"hello".center(10)

'  hello   '

In [37]:
number = int(input("enter a number 1 to 9 : "))

for i in range(1, number+1): 
    print(((str(i)+ " ")*i*2).center(number*2))

   1 1
 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5

In [69]:
number = int(input("enter a number 1 to 9 : "))

for i in range(1, number+1): 
    print(" "*(number-i)+ (str(i)+ " ")*i)

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [73]:
number = int(input("enter a number 1 to 9 : "))

for i in range(1, number+1): 
    print(((str(i)+ " ")*i).center(number*2))

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [3]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]
for i in names :
    for j in mood:
        print(i, "is" , j)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [5]:
for i in range (1,11):
    print()
    print("*********")
    print()
    for j in range(1,11):
        print(f"{i}X{j}= {i*j}")

*********

1X1= 1
1X2= 2
1X3= 3
1X4= 4
1X5= 5
1X6= 6
1X7= 7
1X8= 8
1X9= 9
1X10= 10

*********

2X1= 2
2X2= 4
2X3= 6
2X4= 8
2X5= 10
2X6= 12
2X7= 14
2X8= 16
2X9= 18
2X10= 20

*********

3X1= 3
3X2= 6
3X3= 9
3X4= 12
3X5= 15
3X6= 18
3X7= 21
3X8= 24
3X9= 27
3X10= 30

*********

4X1= 4
4X2= 8
4X3= 12
4X4= 16
4X5= 20
4X6= 24
4X7= 28
4X8= 32
4X9= 36
4X10= 40

*********

5X1= 5
5X2= 10
5X3= 15
5X4= 20
5X5= 25
5X6= 30
5X7= 35
5X8= 40
5X9= 45
5X10= 50

*********

6X1= 6
6X2= 12
6X3= 18
6X4= 24
6X5= 30
6X6= 36
6X7= 42
6X8= 48
6X9= 54
6X10= 60

*********

7X1= 7
7X2= 14
7X3= 21
7X4= 28
7X5= 35
7X6= 42
7X7= 49
7X8= 56
7X9= 63
7X10= 70

*********

8X1= 8
8X2= 16
8X3= 24
8X4= 32
8X5= 40
8X6= 48
8X7= 56
8X8= 64
8X9= 72
8X10= 80

*********

9X1= 9
9X2= 18
9X3= 27
9X4= 36
9X5= 45
9X6= 54
9X7= 63
9X8= 72
9X9= 81
9X10= 90

*********

10X1= 10
10X2= 20
10X3= 30
10X4= 40
10X5= 50
10X6= 60
10X7= 70
10X8= 80
10X9= 90
10X10= 100

In [7]:
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
my_list = []
for sublist in matrix:
    for value in sublist:
        my_list.append(value)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
v= ("five", 5, True) 
v

('five', 5, True)

In [32]:
x, y, z = v
x

'five'

In [33]:
y

5

In [34]:
z

True

In [10]:
(monday, tuesday, wednesday, thursday, friday, saturday, sunday) = range(1,8)

In [11]:
monday

1

In [12]:
friday

5

In [16]:
a, b, _,_ = (10, 20, 30, 40)
a

10

In [17]:
b

20

In [18]:
x, y, z = (11,22,33,44,55)

ValueError: too many values to unpack (expected 3)

In [19]:
x, y, *z = (11,22,33,44,55)

In [20]:
x

11

In [21]:
y

22

In [22]:
z

[33, 44, 55]

In [23]:
x, y, *_ = (11,22,33,44,55)

In [24]:
x

11

In [25]:
y

22

In [26]:
x, y, *z, t = (11, 22, 33, 44, 55, 66, 77)

In [27]:
t

77

In [28]:
y

22

In [29]:
z

[33, 44, 55, 66]

In [35]:
x, y, *_, t = (11, 22, 33, 44, 55, 66, 77)

In [36]:
_                #place

[33, 44, 55, 66]

list Cimprehension in python

In [39]:
my_list = [1, 2, 3, 4, 5]
new_list = []

In [40]:
for x in my_list :
    if x % 2 != 0:
        new_list.append(x**2)
print(new_list)

[1, 9, 25]

if x % 2 != 0:
      new_list.append(x**2)     bu expression code block

In [ ]:
# [expresion for item in iterable]

In [ ]:
# expression/body if condition else expression/body2

In [41]:
[x**2 for x in my_list if x % 2 != 0]

[1, 9, 25]

In [ ]:
for item in iterable :
    if condition :
        expression

[expression for item in iterable if condition ]

In [43]:
sayilar = []

for i in range(5):
    sayilar.append(i)
print(sayilar)

[0, 1, 2, 3, 4]

In [44]:
sayilar = [i for i in range(5)]
sayilar

[0, 1, 2, 3, 4]

In [45]:
sayilar = ["elma" for i in range(5)]
sayilar

['elma', 'elma', 'elma', 'elma', 'elma']

In [46]:
kare = []

for i in range(1,6):
    kare.append(i**2)
kare

[1, 4, 9, 16, 25]

In [47]:
kare2 = [i**2 for i in range(1,6)]
kare2

[1, 4, 9, 16, 25]

# ternary if condition yapisi

execute-body1 if condition else execute-body2

In [49]:
condition = True

if condition :
    a = 1
else :
    a= 0
a

1

In [50]:
condition = False
1 if condition else 0

0

In [52]:
my_list = [1, 2, 3, 4, 5, 6]

new_list = []

for i in my_list:
    if i % 2 :
        new_list.append(i**2)
new_list

[1, 9, 25]

In [53]:
[i**2 for i in my_list]

[1, 4, 9, 16, 25, 36]

In [54]:
[i**2 for i in my_list if i % 2]

[1, 9, 25]

In [55]:
my_list = [1, 2, 3, 4, 5, 6]

new_list = []

for i in my_list:
    if i % 2 :
        new_list.append(i**2)
    else :
        new_list.append(i**3)
new_list

[1, 8, 9, 64, 25, 216]

In [56]:
[i**2 for i in my_list if i % 2 else i**3]

SyntaxError: invalid syntax (Temp/ipykernel_15388/1620022920.py, line 1)

In [57]:
[i**2  if i % 2 else i**3 for i in my_list]

[1, 8, 9, 64, 25, 216]

In [58]:
[i**2  if i % 2  for i in my_list]

SyntaxError: expected 'else' after 'if' expression (Temp/ipykernel_15388/334723996.py, line 1)

In [ ]:
for i in range (1,11):
    print()
    print("*********")
    print()
    for j in range(1,11):
        print(f"{i}X{j}= {i*j}")

In [59]:
[f"{i}X{j}= {i*j}" for i in range (1,11) for j in range(1,11)]

['1X1= 1',
 '1X2= 2',
 '1X3= 3',
 '1X4= 4',
 '1X5= 5',
 '1X6= 6',
 '1X7= 7',
 '1X8= 8',
 '1X9= 9',
 '1X10= 10',
 '2X1= 2',
 '2X2= 4',
 '2X3= 6',
 '2X4= 8',
 '2X5= 10',
 '2X6= 12',
 '2X7= 14',
 '2X8= 16',
 '2X9= 18',
 '2X10= 20',
 '3X1= 3',
 '3X2= 6',
 '3X3= 9',
 '3X4= 12',
 '3X5= 15',
 '3X6= 18',
 '3X7= 21',
 '3X8= 24',
 '3X9= 27',
 '3X10= 30',
 '4X1= 4',
 '4X2= 8',
 '4X3= 12',
 '4X4= 16',
 '4X5= 20',
 '4X6= 24',
 '4X7= 28',
 '4X8= 32',
 '4X9= 36',
 '4X10= 40',
 '5X1= 5',
 '5X2= 10',
 '5X3= 15',
 '5X4= 20',
 '5X5= 25',
 '5X6= 30',
 '5X7= 35',
 '5X8= 40',
 '5X9= 45',
 '5X10= 50',
 '6X1= 6',
 '6X2= 12',
 '6X3= 18',
 '6X4= 24',
 '6X5= 30',
 '6X6= 36',
 '6X7= 42',
 '6X8= 48',
 '6X9= 54',
 '6X10= 60',
 '7X1= 7',
 '7X2= 14',
 '7X3= 21',
 '7X4= 28',
 '7X5= 35',
 '7X6= 42',
 '7X7= 49',
 '7X8= 56',
 '7X9= 63',
 '7X10= 70',
 '8X1= 8',
 '8X2= 16',
 '8X3= 24',
 '8X4= 32',
 '8X5= 40',
 '8X6= 48',
 '8X7= 56',
 '8X8= 64',
 '8X9= 72',
 '8X10= 80',
 '9X1= 9',
 '9X2= 18',
 '9X3= 27',
 '9X4= 36',
 '9X5= 45',
 '9X6= 54',
 '9X7= 63',
 '9X8= 72',
 '9X9= 81',
 '9X10= 90',
 '10X1= 10',
 '10X2= 20',
 '10X3= 30',
 '10X4= 40',
 '10X5= 50',
 '10X6= 60',
 '10X7= 70',
 '10X8= 80',
 '10X9= 90',
 '10X10= 100']

In [60]:
my_table = [f"{i}X{j}= {i*j}" for i in range (1,11) for j in range(1,11)]

In [61]:
my_table[:10]

['1X1= 1',
 '1X2= 2',
 '1X3= 3',
 '1X4= 4',
 '1X5= 5',
 '1X6= 6',
 '1X7= 7',
 '1X8= 8',
 '1X9= 9',
 '1X10= 10']

In [65]:
list1 = [10, 20, 30, 40, 50]
new_list = [i if i> 30 else i**2 for i in list1]
print(new_list, type(new_list))

[100, 400, 900, 40, 50] <class 'list'>

In [ ]:
planets = [['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']]

In [67]:
planets = [['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']]
flatten_planets = []
for sublist in planets:
    for planet in sublist:
        if len(planet) < 6:
            flatten_planets.append(planet)
print(flatten_planets)

['Venus', 'Earth', 'Mars', 'Pluto']

In [68]:
flatten_planets = [planet for sublist in planets for planet in sublist if len(planet)<6]
flatten_planets

['Venus', 'Earth', 'Mars', 'Pluto']

In [69]:
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
my_list = []
for sublist in matrix:
    for value in sublist:
        my_list.append(value)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
new_list = [value for sublist in matrix for value in sublist]
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
new_list = ["elma" for sublist in matrix for value in sublist]
new_list

['elma', 'elma', 'elma', 'elma', 'elma', 'elma', 'elma', 'elma', 'elma']

In [ ]:
# 0 1 2
000
001
002
010
011
012
020
..
222

In [77]:
numbers = []

for i in range(3):
    for j in range(3):
        for k in range(3):
            numbers.append((i,j,k))
print(numbers)

[(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 2, 0), (0, 2, 1), (0, 2, 2), (1, 0, 0), (1, 0, 1), (1, 0, 2), (1, 1, 0), (1, 1, 1), (1, 1, 2), (1, 2, 0), (1, 2, 1), (1, 2, 2), (2, 0, 0), (2, 0, 1), (2, 0, 2), (2, 1, 0), (2, 1, 1), (2, 1, 2), (2, 2, 0), (2, 2, 1), (2, 2, 2)]

In [74]:
test = []
test.append((1,2,3))
test

[(1, 2, 3)]

In [79]:
numbers = [(i,j,k) for i in range(3) for j in range(3) for k in range(3)]
print(numbers)

[(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 2, 0), (0, 2, 1), (0, 2, 2), (1, 0, 0), (1, 0, 1), (1, 0, 2), (1, 1, 0), (1, 1, 1), (1, 1, 2), (1, 2, 0), (1, 2, 1), (1, 2, 2), (2, 0, 0), (2, 0, 1), (2, 0, 2), (2, 1, 0), (2, 1, 1), (2, 1, 2), (2, 2, 0), (2, 2, 1), (2, 2, 2)]

In [81]:
urunler = [
    {'name':'samsung S6', 'price': '3000' },
    {'name':'samsung S7', 'price': '4000' },
    {'name':'samsung S8', 'price': '5000' },
    {'name':'samsung S9', 'price': '6000' },
    {'name':'samsung S10', 'price': '7000' }
]

toplam = 0

for ürün in urunler:
    toplam += int(ürün["price"])

print("toplam fiyat: ", toplam)

toplam fiyat:  25000

In [86]:
sum([int(ürün["price"]) for ürün in urunler])

25000

In [85]:
sum.__doc__

"Return the sum of a 'start' value (default: 0) plus an iterable of numbers\n\nWhen the iterable is empty, return the start value.\nThis function is intended specifically for use with numeric values and may\nreject non-numeric types."

In [82]:
sehirler = ['kocaeli','istanbul','ankara','izmir','rize']

for sehir in sehirler:
    if len(sehir) <= 5 :
        print(sehir)

izmir
rize

In [83]:
[sehir for sehir in sehirler if len(sehir)<= 5]

['izmir', 'rize']

In [ ]:
years = [1983, 1999, 2008, 1956, 1986]

In [87]:
a = [1, 2, 3, 4, 5]

sonuc = ["yes" if i == 1 else "no" if i ==2 else "bos" for i in a]
sonuc

['yes', 'no', 'bos', 'bos', 'bos']

In [88]:
i = 5
if i==1 :
    print("yes")
else: 
    if i==2 :
        print("no")
    else: 
        print("bos")

bos

In [89]:
bos = []
a = [bos.append(i) for i in range(5)]
print(bos)

[0, 1, 2, 3, 4]

In [90]:
print(a)

[None, None, None, None, None]

In [92]:
bos = []
a = [i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [93]:
bos = []
a = []
print(bos)

for i in range(5):
    bos.append(i)
    a.append(bos.append(i))
print(a)

[]
[None, None, None, None, None]

In [94]:
[].append.__doc__

'Append object to the end of the list.'

In [95]:
map.__doc__

'map(func, *iterables) --> map object\n\nMake an iterator that computes the function using arguments from\neach of the iterables.  Stops when the shortest iterable is exhausted.'

In [100]:
a = list(map(int, input("aralarinda boslukbirakarak sayilari girin").split()))
a

[23, 45, 78, 36]

In [101]:
"1 3 5 11 15 16".split()

['1', '3', '5', '11', '15', '16']

In [104]:
liste = ["1", "2", "3"]
toplam = 0

for i in liste:
    liste[liste.index(i)]= int(i)
liste

[1, 2, 3]

In [105]:
yeniliste = list(map(int,["1", "2", "3"]))
yeniliste

[1, 2, 3]

In [106]:
a= list(map(float,12345))

TypeError: 'int' object is not iterable

In [108]:
a= list(map(float,"12345"))
a

[1.0, 2.0, 3.0, 4.0, 5.0]